// text colors
$text-color-1: rgb(37, 38, 40);
$text-color-2: #fff;
$text-color-3: rgb(35, 96, 251);
$text-color-4: rgb(132, 132, 132);
$text-color-5: #252628;

// background colors
$background-color-1: #FFFFFF;
$background-color-2: rgb(243, 245, 248);
$background-color-3: rgb(35, 96, 251);


// border colors
$border-color-1: #EAEAEF;
$border-color-2: rgb(35, 96, 251);
$border-color-2: #DCDCDC;

// box shadows
$box-shadow-1: #f8f8fd;
$box-shadow-2: rgba(20, 24, 31, 0.08);


