@import '@/styles/_vars.scss';

.header {
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    background: $background-color-1;
    display: flex;
    align-items: center;
}

.buttons {
    margin-left: auto;
    display: flex;
    gap: 16px;
}